rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función centralizada y segura
    function esAdmin() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/admins/$(request.auth.token.email.lower()));
    }

    match /admins/{adminEmail} {
      allow read: if request.auth != null;
      allow write: if false; 
    }

    match /auditoria_actividad/{document=**} {
      allow read, write: if esAdmin();
    }
    
    match /equipo/{docId=**} {
      allow read: if true;
      allow write: if esAdmin();
    }
    
    match /noticias/{docId=**} {
      allow read: if true;
      allow write: if esAdmin();
    }

    match /articulos_academicos/{docId=**} {
      allow read: if true;
      allow write: if esAdmin();
    }

    match /libros/{docId=**} {
      allow read: if true;
      allow write: if esAdmin();
    }

    match /compras/{docId=**} {
      allow read, write: if esAdmin();
    }
    
    // NUEVO: Reglas para la colección configuración que permite que el Hero section pueda leer los números
    match /configuracion/{docId=**} {
      allow read: if true;
      allow write: if esAdmin();
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
