@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;800&display=swap');
@import "tailwindcss";

@theme {
  /* Aquí inyectamos la paleta de colores de IIRESODH */
  --color-main-blue: #1D3557;
  --color-light-blue: #457B9D;
  --color-pale-blue: #A8DADC;
  --color-main-red: #B92F32;
  --color-bright-red: #E63946;
  --color-basic-beige: #F1FAEE;
  
  /* Configuramos Work Sans como la tipografía principal */
  --font-sans: "Work Sans", sans-serif;
}

/* Ajuste para que el fondo por defecto sea el beige clarito */
body {
  background-color: #ffffff; 
}